pkgbase = pacman-hook-zsh
	pkgdesc = Pacman hooks metapackage
	pkgver = 1.7
	pkgrel = 1
	url = https://github.com/grigorii-horos/pacman-hooks
	arch = any
	license = LGPL

pkgname = pacman-hook-zsh
	pkgdesc = Pacman hook who will optimize zsh scripts
	depends = zsh

pkgname = pacman-hook-zsh-rehash
	pkgdesc = Pacman hook who will run zsh rehash
	depends = zsh

pkgname = pacman-hook-remove-locales
	pkgdesc = Pacman hook who will remove unuseful locales

pkgname = pacman-hook-remove-headers
	pkgdesc = Pacman hook who will remove headers

pkgname = pacman-hook-remove-documentation
	pkgdesc = Pacman hook who will remove documentation

pkgname = pacman-hook-optimize-images
	pkgdesc = Pacman hook who will optimize all images in package
	depends = imagemagick
	depends = optipng
	depends = jpegoptim
	depends = pngquant
	depends = svgo
	depends = parallel
